#include "resource.h"

POINTER ID_MAIN "warpcab.ico"

// Cursors for drag-and-drop documents
POINTER ID_MOVE_DOCS movedoc.ptr
POINTER ID_COPY_DOCS copydoc.ptr

// Bitmaps for representing images.
BITMAP ID_FLOPPY 			FLPYDISK.BMP
BITMAP ID_HDD 				HARDDISK.BMP
BITMAP ID_CDROM 			CDROM.BMP
BITMAP ID_FOLDER 			FOLDER.BMP
BITMAP ID_OPEN_FOLDER 	OPNFLDER.BMP
BITMAP ID_DOCUMENT 		DOCUMENT.BMP
BITMAP ID_EXE 				EXEDOC.BMP
BITMAP ID_CMD 				CMD.BMP
BITMAP ID_BAT 				BAT.BMP
BITMAP ID_COM 				COM.BMP

MENU ID_MAIN 
BEGIN
	SUBMENU "~File"
	BEGIN
		MENUITEM "~Open", CM_OPEN, MIS_TEXT, MIA_DISABLED
		MENUITEM "~Move/Rename...\tF7", CM_MOVE, MIS_TEXT, MIA_DISABLED
		MENUITEM "~Copy...\tF8", CM_COPY, MIS_TEXT, MIA_DISABLED
		MENUITEM "~Delete\tDel", CM_DELETE, MIS_TEXT, MIA_DISABLED
		MENUITEM "Proper~ties...", CM_PROPERTIES
		MENUITEM SEPARATOR
		MENUITEM "~Run...", CM_RUN
		MENUITEM "~Associate...", CM_ASSOCIATE
		MENUITEM SEPARATOR
		MENUITEM "Cr~eate Directory...", CM_CREATE_DIR
		MENUITEM SEPARATOR
		MENUITEM "E~xit", CM_APP_EXIT
	END

	SUBMENU "~Edit"
	BEGIN
		MENUITEM "~Select Files...", CM_SELECTFILES
		MENUITEM "Select ~All", CM_SELECTALL
		MENUITEM "~Clear Selections", CM_CLEARSELS
	END

	SUBMENU "~View"
	BEGIN
		MENUITEM "~Name", CM_FILE_NAME
		MENUITEM "~All File Details", CM_ALL_DETAILS, MIS_TEXT, MIA_CHECKED
		MENUITEM "~Partial Details...", CM_PARTIAL_DETAILS
		MENUITEM SEPARATOR
		MENUITEM "~Sort by Name", CM_SORTNAME, MIS_TEXT, MIA_CHECKED
		MENUITEM "Sort ~by Type", CM_SORTTYPE
		MENUITEM "Sort by Si~ze", CM_SORTSIZE
		MENUITEM "Sort by ~Date", CM_SORTDATE
		MENUITEM SEPARATOR
		MENUITEM "Show File ~Types...", CM_SHOWFILES
	END

	SUBMENU "~Options"
	BEGIN
		MENUITEM "~Confirmation...", CM_CONFIRMATION
		MENUITEM SEPARATOR
		MENUITEM "~Refresh All Folders\tF5", CM_RELOAD_FOLDERS
		MENUITEM SEPARATOR
		MENUITEM "Drag with ~Left Mouse Button", CM_DRAG_LEFT_BTN
	END

	SUBMENU "~Help"
	BEGIN
		MENUITEM "~About...", CM_ABOUT
	END

END

ACCELTABLE ID_MAIN
BEGIN
	VK_F5, CM_RELOAD_FOLDERS, VIRTUALKEY
	VK_F7, CM_MOVE, VIRTUALKEY
	VK_F8, CM_COPY, VIRTUALKEY
	VK_DELETE, CM_DELETE, VIRTUALKEY
	"C", CM_STOP, CONTROL
END

DLGTEMPLATE IDD_ABOUT 
BEGIN
	DIALOG "About Warp Cabinet", 100, 100, 101, 216, 89, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 83, 4, 51, 11
		CONTROL "Warp Cabinet -- v. 1.00", 101, 14, 72, 188, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", 103, 9, 19, 198, 21, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "", 104, 9, 44, 198, 39, WC_STATIC, SS_FGNDFRAME | WS_VISIBLE | WS_GROUP
		CONTROL "Ziff-Davis Publishing Company.", 105, 14, 53, 188, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "All rights reserved.", 106, 15, 45, 188, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "First published in PC Magazine, US Edition, Feb. 26, 1996.", 102, 14, 21, 188, 17, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_WORDBREAK | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Copyright (c) 1996", 107, 11, 62, 188, 9, WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE IDD_FILE_CHANGE_DLG 
BEGIN
	DIALOG "", 100, 19, 73, 279, 83, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_TO, 54, 18, 154, 11, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 220, 35, 51, 12
		PUSHBUTTON "Cancel", DID_CANCEL, 220, 19, 51, 12
		CONTROL "", IDC_FROM, 54, 37, 154, 11, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP
		CONTROL "From:", IDC_FROM_PROMPT, 6, 39, 40, 8, WC_STATIC, SS_TEXT | DT_RIGHT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "To:", IDC_TO_PROMPT, 22, 20, 21, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Current Directory:", IDC_CURRENT_DIR, 6, 56, 262, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Current Directory:", IDC_STATIC, 6, 70, 209, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", IDC_STATUS, 7, 4, 247, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE IDD_RUN_DLG
BEGIN
	DIALOG "Run", 100, 11, 75, 277, 83, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_CMD_LINE, 6, 21, 196, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 219, 35, 51, 12
		PUSHBUTTON "Cancel", DID_CANCEL, 219, 16, 51, 12
		CONTROL "Current Directory:", IDC_CURRENT_DIR, 5, 59, 262, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Current Directory:", IDC_STATIC, 5, 69, 209, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", IDC_STATUS, 6, 4, 247, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Command Line:", IDC_STATIC, 5, 36, 196, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END

DLGTEMPLATE IDD_FILE_PROP_DLG 
BEGIN
	DIALOG "Properties", 100, 11, 59, 278, 97, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 210, 80, 60, 10
		PUSHBUTTON "Cancel", DID_CANCEL, 210, 66, 60, 10
		CONTROL "File Name", IDC_FILENAME, 5, 85, 197, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Size", IDC_FILESIZE, 5, 72, 197, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Modified", IDC_MODIFIED, 5, 59, 197, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Path", IDC_PATH, 5, 46, 197, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Attributes:", IDC_STATIC, 8, 6, 117, 36, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Read-Only", IDC_READONLY, 15, 23, 58, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Archive", IDC_ARCHIVE, 15, 11, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Hidden", IDC_HIDDEN, 75, 23, 41, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "System", IDC_SYSTEM, 75, 11, 41, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

DLGTEMPLATE IDD_ASSOCIATE_DLG 
BEGIN
	DIALOG "Associate", 100, 11, 24, 276, 132, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_EXT, 110, 115, 28, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", IDC_ASSOC_DESC, 77, 87, 127, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", IDC_ASSOC_PATH, 76, 71, 153, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", IDC_ASSOC_LIST, 13, 8, 191, 40, WC_LISTBOX, WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "Remove", IDC_DELETE_ASSOC, 217, 39, 51, 11
		DEFPUSHBUTTON "OK", DID_OK, 217, 115, 51, 11
		PUSHBUTTON "Cancel", DID_CANCEL, 217, 100, 51, 11
		CONTROL "Files with Extension: .", IDC_STATIC, 10, 115, 95, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Associate with:", IDC_STATIC, 9, 101, 106, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Description:", IDC_STATIC, 21, 88, 50, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Program:", IDC_STATIC, 31, 72, 40, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Current File Types and Associations:", IDC_STATIC, 9, 54, 191, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END
DLGTEMPLATE IDD_CREATE_DIR_DLG
BEGIN
	DIALOG "Create Directory", 100, 11, 75, 277, 83, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "", IDC_NEW_DIR, 6, 21, 196, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 219, 35, 51, 12
		PUSHBUTTON "Cancel", DID_CANCEL, 219, 16, 51, 12
		CONTROL "Current Directory:", IDC_CURRENT_DIR, 5, 59, 262, 7, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Current Directory:", IDC_STATIC, 5, 69, 209, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "New Directory:", IDC_STATIC, 5, 36, 196, 9, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END


DLGTEMPLATE IDD_SEL_FILES_DLG 
BEGIN
	DIALOG "Select Files", 100, 11, 106, 139, 50, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "*.*", IDC_FILE_MASK, 5, 15, 70, 10, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "Select", DID_OK, 84, 35, 51, 10
		PUSHBUTTON "Deselect", IDC_DESELECT, 84, 20, 51, 10, BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP
		PUSHBUTTON "Cancel", DID_CANCEL, 84, 5, 51, 10
		CONTROL "Select File(s):", IDC_STATIC, 5, 30, 66, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


DLGTEMPLATE IDD_VIEW_FILES_DLG 
BEGIN
	DIALOG "View By File Type", 100, 11, 106, 245, 50, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "*.*", IDC_FILE_MASK, 94, 34, 83, 8, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "All Files", IDC_ALL_FILES, 105, 19, 59, 10
		CONTROL "Show System/Hidden Objects", IDC_SYSHIDDEN_OBJS, 13, 6, 154, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 187, 36, 51, 10
		PUSHBUTTON "Cancel", DID_CANCEL, 187, 18, 51, 10
		CONTROL "View By File Mask:", IDC_STATIC, 3, 34, 84, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END

DLGTEMPLATE IDD_FILE_DETAILS_DLG
BEGIN
	DIALOG "Select File Details", 100, 11, 88, 174, 68, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "Size", IDC_FILESIZE, 18, 40, 72, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Last Modified", IDC_LAST_MODIFIED, 18, 27, 75, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "File Attributes", IDC_ATTRIBUTES, 18, 15, 80, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 117, 51, 51, 11
		PUSHBUTTON "Cancel", DID_CANCEL, 117, 32, 51, 11
		CONTROL "Show :", IDC_STATIC, 8, 10, 97, 49, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END
END

DLGTEMPLATE IDD_SET_CONFIRM_OPTS_DLG 
BEGIN
	DIALOG "Confirmation Options", 100, 11, 90, 217, 66, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
	BEGIN
		CONTROL "File Delete / Move", IDC_CONFIRM_DELETE, 17, 43, 93, 9, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "File Overwrite", IDC_CONFIRM_REPLACE, 17, 31, 74, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "File Copy", IDC_CONFIRM_COPY, 17, 19, 74, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "All File Operations", IDC_CONFIRM_ALL, 17, 7, 105, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		DEFPUSHBUTTON "OK", DID_OK, 155, 44, 51, 11
		PUSHBUTTON "Cancel", DID_CANCEL, 155, 29, 51, 11
		CONTROL "Confirm On :", IDC_STATIC, 7, 6, 134, 54, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
	END

END


